<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Javascripst
	h1 javaScripts
	h3#mensaje
   	    script.
   	    	var mensaje=document.getElementById("mensaje")
   	    	var nombre=prompt("cual es su nombre");
   	    	if(nombre == "Esteven"){
     		  mensaje.innerHTML = "Bienvenido:";
		 } else {
		    mensaje.innerHTML = "Bienvenido: "+nombre;
		 }
body
	