<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Condicionales
body
	h1 condicionales
	-var autorizacion = true
	article
		if autorizacion
			img(src="imgs/sucess.jpg")
		else
			img(src="imgs/fail.png")